<article id="bibleWidget" >
    <button 
        (click)="dialog.showModal(); openDialog();"
        class="openButton">
         <span
         *ngIf="open == false; else reading">
            Read: {{bookName}}  {{chapter}}
        </span>
        <ng-template #reading>
            Reading {{bookName}}  {{chapter}}
        </ng-template>
    </button>
    <dialog 
        (click)="backdropClose($event)">
        <div class="leadHeader">

        </div>
        <div
            [innerHTML] ="result | safe: 'html'"
            class="script">

        </div>
        <div  
            class=" stickyMenu">
            <div class="bookAndChap">
                {{bookName}} {{chapter}}
            </div>
            <button *ngIf="time.scriptureCode == 0;"
                aria-label="reload a random scripture" 
                (click) = " load();"
                class="newScript">
                New Scripture
            </button>
            <button 
                aria-label="close the scripture dialog box"
                (click)="dialog.close(); open = false;"
                class="closeScript">
                Close Scripture
            </button>
        </div>
    </dialog>
</article>
