
//::ng-deep necessary to work with wasm innerHTML
#bibleWidget {
    margin: 0;
    position: sticky;
    bottom: 0;
    background-color: #000000;
    text-align: left;
    transition: opacity 0.5s ease-in-out;
}
.bibleHeader {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgba($color: #32563b, $alpha: 0.7);
}
.leftTitle {
    justify-self: left;
    font-variant-caps: small-caps;
    font-weight: bold;
    padding-left: 1em;
    white-space: nowrap;
}
.openSymbol {
    justify-self: center;
    height: 1rem;
    width: 2rem;
    margin: 0.3rem;
    background-image: url(../../assets/collapsed.png);
    background-position: center center;
    background-size: contain;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    transition: rotate 0.2s ease-in-out;
    &:hover {
        opacity: 1;
    }
}
.closeSymbol {
    justify-self: center;
    height: 1rem;
    width: 2rem;
    margin: 0.3rem;
    background-image: url(../../assets/collapsed.png);
    background-position: center center;
    background-size: contain;
    opacity: 0.8;
    rotate: 180deg;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    transition: rotate 0.2s ease-in-out;
    &:hover {
        opacity: 1;
    }
}

.refresh {
    justify-self: right;
    height: 1rem;
    width: 1rem;
    margin: 0.3rem;
    padding-right: 1rem;
    background-image: url(../../assets/refresh.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    &:hover {
        opacity: 1;
    }
    &:active {
        opacity: 1;
        animation:spin 0.5s linear infinite;
    }
}
//for refresh animation
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate3d(1,2,3,360deg); 
    } 
}
.bibleHide  {
    // display: none;
    opacity: 0;
    height: 0;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
}
.bibleShow {
    opacity: 1;
    height: 10rem;
    overflow-y: scroll;
    transition: opacity 0.5s ease-in-out;
}
//  increase font size for readablility (I'm old)
::ng-deep .fontType {
    font-family: Georgia,"Times New Roman", Times, serif;
    line-height: 1.45em; // needs to stap 'em' units as 'rem' makes everything very wrong
    font-size: 1.3rem;
    @media (max-width: 1000px) {
        font-size: 1.2rem;
    }
    @media (max-width: 768px) {
        font-size: 1.1rem;
    }
}
::ng-deep .psalm {
    text-align: center;
    font-size: 1rem;
    @media (max-width: 1000px) {
        font-size: 0.9rem;
    }
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}
::ng-deep .verses {
    display: grid;
    width: 100%;
    grid-gap: 1rem; // needed to stop words scrolling right
    grid-template-columns: 3rem auto;
    @media (max-width: 767px) {
        grid-template-columns: 1.5rem auto; // verse number column smaller for small screens
    }
}
::ng-deep .firstVerse{
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    &:first-of-type:first-letter {
        float: left;
        margin-bottom: 0; 
        margin-right: 0.03rem;  // required for first letters that are in italics
        vertical-align: top;
        font-size: 2rem;
    }
    @media (max-width: 767px) {
        margin-left: 1rem;
    }
}
::ng-deep .verseNumber {
    text-align: right;
    color: #777;
    margin: 0.5rem 0;
    @media (max-width: 767px) {
        margin: 0.3rem 0;
    }
}
// stop scripture going to far right
::ng-deep .scripture {
    margin: 0.5rem 1rem 0.5rem 0;
    @media (max-width: 767px) {
        margin: 0.3rem 1rem 0.3rem 0;
    }
}
//smaller font for end of book notes
::ng-deep .notes {
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

