
#bibleWidget {
    z-index: 7;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}
.openButton {
    padding: 0.3rem 0.7rem;
    width: fit-content;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: Georgia,"Times New Roman", Times, serif;//needs to be here or doesn't work
    font-variant-caps: small-caps;//needs to be here or doesn't work
    border-radius: 1.5rem;
    background-color: transparent;
    color: white;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    transition-duration: 1s;
    cursor: pointer;
    // border-top: 2px solid #ccc;
    // border-left: 2px solid #ddd;
    // border-bottom: 2px solid #333;
    // border-right: 2px solid #444;
    border: 2px solid #ddd;
    &:hover, :active{
        background-color: rgba(#fff, 0.2);
        transform: translateY(-0.5rem);
    }
}
dialog{
    display: none;
    opacity: 0;
    translate: 0 -50vh;
    transition-property: opacity display overlay;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
    font-family: Georgia,"Times New Roman", Times, serif;
    background-color: transparent;
}
dialog[open]{
    display: block;
    height: 60vh;
    max-width: 600px; //100px less than html; see style.scss
    opacity: 1;
    translate: 0 0;
    padding: 0;
    @starting-style{
        opacity: 0;
        translate: 0 25vh;
    }
    .leadHeader {
        position: sticky;
        height: 1rem;
        width: 100%;
        top: 0;
        background: linear-gradient(180deg, rgba(black, 0.9), rgba(black, 0.3), transparent);
    }
    .script {
        color: white;
        background-color: black;
        text-align: left;
        padding-top: 1rem;
        margin-top: -1rem;
        padding-bottom: 2rem;
        margin-bottom: -2rem;
    }
    .stickyMenu {
        position: sticky;
        bottom: -1px; //necessary for ios or words can be seen scrolling under menu
        margin: 0 auto;
        padding-top: 1.5rem;
        margin-bottom: -0.1rem;
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        color: black;
        background: linear-gradient(0deg, black, black, black, black, rgba(black, 0.9), transparent);
        font-variant-caps: small-caps;
        //below is necessary to remove blue glow in iOS
        *:focus:not(.focus-visible) {
            outline: none;
          }

        .bookAndChap {
            margin-left: 1rem;
            justify-self: left;
            padding: 0.5rem;
            color: #ddd;
        }
        .newScript {
            justify-self: center;
            width: fit-content;
            font-family: Georgia,"Times New Roman", Times, serif; //needs to be here or doesn't work
            font-variant-caps: small-caps;//needs to be here or doesn't work
            margin-bottom: 0.1rem;
            border-radius: 1rem;
            border: 2px solid #fff;
            color: white; //needed for ios or button font is blue
            padding: 0.3rem 0.7rem;
            background-color: transparent;
            transition-duration: 1s;
            &:hover{
                background-color: #eee;
                color: black;
            }
            &:active{
                color: red;
                transform: translateY(-0.3rem);

            }
            @media (pointer: fine){
                &:hover{
                    transform: translateY(-0.3rem);
                }
            }
        }
        .closeScript {
            width: fit-content;
            margin-right: 1rem;
            margin-bottom: 0.1rem;
            justify-self: right;
            font-family: Georgia,"Times New Roman", Times, serif;//needs to be here or doesn't work
            font-variant-caps: small-caps;//needs to be here or doesn't work
            border-radius: 1rem;
            border: 2px solid #a11;
            padding: 0.3rem 0.7rem;
            color: white;
            background-color: transparent;
            transition-duration: 1s;
            &:hover {
                background-color: #aa0101;
            }
            &:active{
                color: red;
                transform: translateY(-0.3rem);

            }
            @media (pointer: fine){
                &:hover{
                    transform: translateY(-0.3rem);
                }
            }
        }
    }
}
dialog::backdrop{
    transition-property: opacity display overlay;
    transition-duration: 2s;
    transition-behavior: allow-discrete;
    opacity: 0;
    background-color: black;
}
dialog[open]::backdrop{
    opacity: 0.3;
    @starting-style{
        opacity: 0;
    }
}

//::ng-deep necessary to work with wasm innerHTML
//  increase font size for readablility (I'm old)
::ng-deep .fontType {
    font-family: Georgia,"Times New Roman", Times, serif;
    line-height: 1.45em; // needs to stap 'em' units as 'rem' makes everything very wrong
    font-size: 1.3rem;

    @media (max-width: 1000px) {
        font-size: 1.2rem;
    }
    @media (max-width: 768px) {
        font-size: 1.1rem;
    }
}
::ng-deep .psalm {
    text-align: center;
    font-size: 1rem;
    @media (max-width: 1000px) {
        font-size: 0.9rem;
    }
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
}
::ng-deep .verses {
    display: grid;
    width: 100%;
    grid-gap: 1rem; // needed to stop words scrolling right
    grid-template-columns: 3rem auto;
    @media (max-width: 767px) {
        grid-template-columns: 1.5rem auto; // verse number column smaller for small screens
    }
}
::ng-deep .firstVerse{
    margin-left: 3rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    &:first-of-type:first-letter {
        float: left;
        margin-bottom: 0;
        margin-right: 0.03rem;  // required for first letters that are in italics
        vertical-align: top;
        font-size: 2rem;
    }
    @media (max-width: 767px) {
        margin-left: 1rem;
    }
}
::ng-deep .verseNumber {
    text-align: right;
    text-shadow: none;
    color: rgba($color: white, $alpha: 0.5);
    margin: 0.5rem 0;
    @media (max-width: 767px) {
        margin: 0.3rem 0;
    }
}
// stop scripture going to far right
::ng-deep .scripture {
    margin: 0.5rem 1rem 0.5rem 0;
    @media (max-width: 767px) {
        margin: 0.3rem 1rem 0.3rem 0;
    }
}
//smaller font for end of book notes
::ng-deep .notes {
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
}
