<div id="bibleWidget" >
    <div class="bibleHeader">
        <div class="leftTitle">
            {{bookName}} {{chapter}}
        </div>
        <div
            (click)="time.collapsed = !time.collapsed" 
            [ngClass]="time.collapsed == true ? 'openSymbol' : 'closeSymbol'">
        </div>
        <div *ngIf="time.scriptureCode == 0; " 
            (click) = "load()" 
            class="refresh" >
        </div>
    </div>
        <div [ngClass]="time.collapsed == true ? 'bibleHide' : 'bibleShow'" 
            [innerHTML] ="result | safe: 'html'">
        </div>
</div>
