<article id="bibleWidget" >
    <section id="swipe" class="bibleHeader">
        <p class="leftTitle">
            {{bookName}} {{chapter}}
        </p>
        <button aria-label="show/hide scripture"
            (click)="time.collapsed = !time.collapsed" 
            [ngClass]="time.collapsed == true ? 'openSymbol' : 'closeSymbol'"
            class="scriptButton">
        </button>
        <button  aria-label="reload random scripture" *ngIf="time.scriptureCode == 0; " 
            (click) = "load()" 
            class="refresh scriptButton" >
        </button>
    </section>
    <section [ngClass]="time.collapsed == true ? 'bibleHide' : 'bibleShow'" 
        [innerHTML] ="result | safe: 'html'">
    </section>
</article>
