.crossPage {
    position: sticky;
    top: 0;
    min-height: calc(100vh - 1.6rem);//min-height necessary for pics - that took hours
    background-image: url("../../assets/backgrounds/Background_Cross.png");
    background-size: cover;
    background-position: center center;
}
.darknessPage {
    position: sticky;
    top: 0;
    min-height: calc(100vh - 1.6rem);//min-height necessary for pics - that took hours
    width: 100vw;
    background-color: black;
}.gravePage {
    position: sticky;
    top: 0;
    min-height: calc(100vh - 1.6rem);//min-height necessary for pics - that took hours
    background-image: url("../../assets/backgrounds/Background_Easter_Saturday.png");
    background-size: cover;
    background-position: center center;
}
.closeColour {
    max-width: 17rem;
    margin: 0 auto;
    color: red;
    text-shadow: 0 0 1px #32563b, 0 0 1px #32563b, 0 0 1px black, 0 0 1px black;
}

h1, h2, h3, h4, h5 {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}
