<!-- <app-countdown *ngIf="currentComponent == 1"></app-countdown>
<app-good-friday *ngIf="currentComponent == 2"></app-good-friday>
<app-heart-of-the-earth *ngIf="currentComponent == 3"></app-heart-of-the-earth>
<app-easter-sunday *ngIf="currentComponent == 4"></app-easter-sunday> -->
<div> 
    <h1 *ngIf="countdown">EASTER SUNDAY</h1>
    <h3 *ngIf="countdown">is in</h3>
    <h2 *ngIf="countdown">{{time.days}} Days</h2>
    <h3 *ngIf="countdown">{{time.hours}} Hours</h3>
    <h4 *ngIf="countdown">{{time.minutes}} Minutes</h4>
    <h5 *ngIf="countdown">{{time.seconds}} Seconds</h5>
    <br>
    <h1>{{pageTitle}}</h1>
</div>
